input {
  background-color: #edf2fb;
  border-color: #ccdbfd;
  color: #17228c;
}
input:focus,
input:focus::placeholder {
  background-color: #e2eafc;
  border-color: #c1d3fe;
  color: #17228c;
}
::placeholder {
  color: #4365d1;
}
