.card {
  background-color: #edf2fb;
  transition: 0.5s;
}
.card:hover {
  background-color: #e2eafc;
  border-color: #abc4ff;
  padding: 1rem;
  box-shadow: #abc4ff 0px 5px 25px 0px;
}
.card-header {
  background-color: #70baff;
}
