<div class="container">
  <div class="card m-5 p-3" *ngFor="let n of [1, 2, 3, 4, 5]">
    <div class="row">
      <div class="col-4">
        <img src="../../../favicon.ico" class="img-fluid" alt="course-image" />
      </div>
      <div class="col-8 my-auto">
        <div class="card-body">
          <h5 class="card-title">'lesson.name'</h5>
          <p class="card-text">'lesson.description'</p>
          <p class="card-text">
            <small class="text-muted">
              Teacher: 'lesson.teacher.firsName' 'lesson.teacher.lastName'
            </small>
          </p>
        </div>
      </div>
      <div>
        <confirm-button
          class="float-end"
          [clickHandler]="redirectToLessonPage"
          [text]="'Take The Course'"
        ></confirm-button>
      </div>
    </div>
  </div>
</div>
