<div class="container">
  <form>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <text-input [placeHolderText]="'Name'"></text-input>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <text-input [placeHolderText]="'Surname'"></text-input>
        </div>
      </div>
    </div>

    <div class="form-group mt-2">
      <email-input></email-input>
    </div>
    <div class="form-group mt-2">
      <password-input></password-input>
    </div>
    <div class="form-group mt-3">
      <confirm-button
        [clickHandler]="redirectToInitialPage"
        [text]="'Register'"
      ></confirm-button>
    </div>
  </form>
</div>
